.example-border {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.hover-example .darksalmon {
  background-color: darksalmon !important;
}
.hover-example .lightsalmon {
  background-color: lightsalmon !important;
}
.hover-example .color-div {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid gray;
  background-color: lightsalmon;
}
.random-example p {
  font-size: 20px;
  -webkit-user-select: none;
  user-select: none;
}
.createlist-example ul {
  list-style-type: none;
}
.createlist-example ul li {
  font-size: 18px;
}
